name: ClangFormat Check

on:
  push:      
    branches: [main, "*"]  

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format

      - name: Run clang-format check
        run: |
          sudo apt-get install clang-format -y
          clang-format -i --style=file **/*.c ./Kernel/**/*.c ./Userland/**/*.c ./Bootloader/**/*.c

      - name: Auto-commit changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "style-bot: Formateo de codigo con clang-format"